# ASP.NET Core (.NET Framework) HA
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
      - develop

# use our Agentpool
pool:
  name: 'AgentPool_MDP_Dev'

# variables to pass on
variables:
  azureSubscription: 'FieldWorkerResourceDeploymentConnection'
  appName: 'fwapplicationsservice'
steps:

- task: NuGetCommand@2
  inputs:
    command: 'restore'
    restoreSolution: 'BCC.FW.ADMIN.APP-develop_test_release_1.47/BCC.FW.ADMIN.APP/BCC.FW.ADMIN.APP.sln'
 #Build the FieldWorker project
- task: VSBuild@1
  inputs:
    solution: 'BCC.FW.ADMIN.APP-develop_test_release_1.47/BCC.FW.ADMIN.APP/BCC.FW.ADMIN.APP.sln'
    msbuildVersion: '17.0' 
    msbuildArchitecture: 'x64'
    msbuildArgs: '/p:Configuration=Release'
## Run unit tests
- task: VSTest@2
  inputs:
    testSelector: 'testAssemblies'
    testAssemblyVer2: '**\*test*.dll'
    searchFolder: '$(System.DefaultWorkingDirectory)'
    vsTestVersion: 'latest'
    
#- script: dotnet test $(System.DefaultWorkingDirectory)/BCC.FW.ADMIN.APP-develop_test_release_1.47/BCC.FW.ADMIN.APP.UNIT.TEST/BCC.FW.ADMIN.APP.UNIT.TEST.csproj
 # displayName: 'Run unit tests'

- script: |
    dotnet publish "BCC.FW.ADMIN.APP-develop_test_release_1.47/BCC.FW.ADMIN.APP/BCC.FW.ADMIN.APP.sln" --configuration Release --output $(Build.ArtifactStagingDirectory)
  displayName: 'Publish Project'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

# deploy infrastructure
- task: AzureCLI@2
  inputs:
    azureSubscription: '$(azureSubscription)'
    scriptType: 'powershell'
    scriptLocation: 'inlineScript'
    cwd: '$(System.DefaultWorkingDirectory)/BCC.FW.ADMIN.APP-develop_test_release_1.47/BCC.FW.ADMIN.APP.INFRASTRUCTURE'
    inlineScript: |
      az deployment group create --resource-group fw-dev-rg --template-file main.bicep --parameters @parameters.json

- task: AzureWebApp@1
  inputs:
    azureSubscription: '$(azureSubscription)'
    appType: 'webApp'
    appName: '$(appName)'
    package: '$(Build.ArtifactStagingDirectory)'